# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
export(CeSSR,
	   CeVNSR,
	   essR_multistart,
	   MEIGO,
	   rvnds_hamming,
	   essR,
	   runBayesFit,
	   cur_params
)

# Import all packages listed as Imports or Depends
import(snowfall)
import(Rsolnp)
import(CNORode)
import(deSolve)